* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #6B7280;
    --color2: #FFFFFF;
    --color3: #D9D9D9;
    --color4: #2772CC;
    --color5: #244F84;
    --color6: #030712;
    --color7: #99D7F7;
    --color8: #F3F4F8;
    --color9: #1F2937;
    --color10: #1A3151;
    --color11: #E5E7EB;
    --color12: #45A5EC;
    --color13: #D97706;
    --color-14: #F0F9FE;
    --color-15: #F59E0B; 
    --color-16:#FBBF24;
    --outfit-r: "outfit";
    --albert-sans-r: "albert-sans-r";
}

@font-face {
    font-family: "outfit";
    src: url(../fonts/Outfit/Outfit/static/Outfit-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "albert-sans-r";
    src: url(../fonts/Albert_Sans/static/AlbertSans-Regular.ttf) format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--albert-sans-r);
    overflow-x: hidden;
}

.container {
    max-width: 1350px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

figure {
    display: block;
}

a {
    text-decoration: none;
}

ol,ul,li {
    list-style: none;
    padding-left: 0;

}

h1,.heading-1 {
    font-family: var(--outfit-r);
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
}

h2,.heading-2 {
    font-family: var(--outfit-r);
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2; 
    color: var(--color5);
    text-transform: capitalize;
} 
h3,.heading-3{
    color: var(--color10); 
    font-size: 32px; 
    font-family: var(--outfit-r); 
    line-height: 1.2;
}
body{
    color: var(--color6); 
    font-size: 18px; 
    font-family: var(--albert-sans-r) ;
    background-color: var(--color2);
    
}

p {
    color: var(--color1);
    font-family: var(--albert-sans-r);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    text-transform: capitalize;
}

.subheading {
    /* color: var(--color13); */
    font-family: var(--outfit-r);
    /* font-weight: 500; */
    font-size: 24px;
    /* text-transform: capitalize; */

}
.cmn-gap{
    padding: 100px 0;
}
.cmn-gap1{
    padding-top: 40px;
} 
.cmn-gap4{
    margin-top: 40px;
}
.cmn-gap2{
    padding-top: 20px;
}  

.cmn-gap3{
    padding-left: 20px;
} 
.cmn-gap4{
    padding-top: 64px;
} 
.cmn-gap5{
    margin-top: 10px;
}
.cmn-btn {
    padding: 16px 48px;
    background-color: var(--color4);
    /* overflow: hidden; */
    /* position: relative; */
    z-index: 1;
    /* display: inline-block; */
    border-radius: 20px;
    color: var(--color8);
    font-family: var(--albert-sans-r);
    font-weight: 600;
    font-size: 18px;
}

.cmn-btn::before {
    background-color: var(--color6);
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in;
}

.cmn-btn:hover::before {
    transform: translateX(0);
}

.cmn-btn:hover {
    color: #fff; 

}

/* header main */
.header-main {
    background-color: var(--color-14);
    min-height: 74px;
    padding: 10px 20px;
    width: 100%;

}

.header-main-text {
    font-family: var(--albert-sans-r);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--color5);
    margin-bottom: 0;
}

.header-main-section2 select {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--albert-sans-r);
    border: none;
    outline: none;
    color: var(--color5);
    background-color: transparent;
    position: relative;
    top: -2px;
    text-transform: capitalize;
}

.header-main-section2 p {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--albert-sans-r);
    color: var(--color-15);
    padding: 0 31px;
    margin-bottom: 0;
}

.header-main-section2 a {
    border-radius: 20px;
    padding: 20px 92px;
    border: 2px solid var(--color-15);
    color: var(--color-15);
    text-transform: capitalize;
}

/* starting Navbar */
.nav-link {
    color: var(--color6);
    font-family: var(--albert-sans-r);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in;
    margin-right: 50px;
}

.nav-item:last-child .nav-link {
    margin-right: 0;
}

.navbar .nav-link:hover {
    color: var(--color-15);
}


.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--color5);
    margin: 0 16px;
     justify-content:center;
    align-items:center;
    position:relative;   /* Important */
    overflow:visible; 
    display: flex;
}

.circle a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle svg {
    width: 24px;
    height: 24px;
}
      .search-box{
    position:relative; 
    /* position relative for parent class */
    display:flex;
    align-items:center; 
    /* vertical center  */
}
.search-box{
    position:relative;
    display:flex;
    align-items:center;
    transition: all 4s ease-in;
}


.search-box input{
    position: absolute;
    right: 50px;
    width: 0;
    height: 40px;
    border: 1px solid var(--color-15);
    outline: none;
    padding: 0;
    opacity: 0;
    transition: all .4s ease;
    background: var(--color2);
}

.search-box:hover input{
    width: 220px;
    padding: 0 15px;
    opacity: 1;
}



.search-box button{
    width:40px;
    height:40px;
    border:none;
    background:none;
    cursor:pointer;
    z-index:1001;
}
/* footer starts */
.footer {
    background: var(--color-15);
    padding: 60px 0;
}

.footer-top {
    margin-bottom: 34px;
}

.footer-logo {
    width: 237px;
    display: inline-block;
}

.footer-logo img {
    width: 100%;
}

.newsletter {
    width: 100%;
}

.footer-heading {
    font-family: var(--outfit-r);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color2);
    margin-bottom: 20px;
}

.newsletter p {
    font-size: 18px;
    max-width: 600px;
    color: var(--color2);
    margin-bottom: 10px;
}

/* newsletter form */

.newsletter-form {
    max-width: 620px;
    background: var(--color2);
    border-radius: 8px;
    overflow: hidden;
}

.newsletter-form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0 24px;
    font-size: 16px;
    color: var(--color10);
}

.newsletter-form input::placeholder {
    color: var(--color5);
}

.newsletter-form button {
    width: 75px;
    height: 68px;
    border: none;
    background: var(--color4);
    color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.newsletter-form button svg path {
    stroke: var(--color2)
}

.newsletter-form button:hover {
    background: var(--color10);
}

.newsletter-form button svg {
    transition: .3s;
}

.newsletter-form button:hover svg {
    transform: translateX(4px);
}

/* footer-middle */
.footer-middle {
    margin-bottom: 34px;
}

.foot-head {
    font-family: var(--outfit-r);
    font-size: 28px;
    font-weight: 600;
    color: var(--color10);
    margin-bottom: 24px;
}

.address {
    max-width: 180px;
    line-height: 1.6;
}

.support-head {
    margin-top: 76px;
    font-size: 28px;
}

.footer-links {
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.footer-links a {
    color: var(--color10);
    transition: .3s;
}

.footer-links a:hover {
    color: var(--color2);
    padding-left: 6px;
}

.support-head+.footer-links li a {
    font-size: 24px;
    font-weight: 500;
}

/* footer-bottom */

.footer-bottom {
    margin-top: 20px;
    /* align-items: center; */
}


.footer-title {
    font-family: var(--outfit-r);
    font-size: 40px;
    font-weight: 600;
    color: var(--color10);
}


.footer-title span {
    display: block;
}


/* Copyright + Social */

.footer-end {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.copyright {
    color: var(--color10);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}


.copyright a {
    color: var(--color10);
    font-weight: 600;
    transition: .3s;
}


.copyright a:hover {
    color: var(--color2);
}


/* Social Links */

.footer-social {
    display: flex;
    flex-wrap: wrap;
}


.footer-social a {
    color: var(--color10);
    font-size: 18px;
    font-weight: 600;
    margin-right: 40px;
    position: relative;
    transition: .3s;
}


.footer-social a:last-child {
    margin-right: 0;
}


.footer-social a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--color2);
    transition: .3s;
}


.footer-social a:hover {
    color: var(--color2);
}


.footer-social a:hover::after {
    width: 100%;
}

/* media query */

/* ================= 1200px ================= */
@media (max-width:1200px) {

    .header-main {
        padding: 10px 15px;
    }

    .header-main-text {
        font-size: 15px;
    }

    .header-main-section2 select,
    .header-main-section2 p {
        font-size: 16px;
    }

    .header-main-section2 p {
        padding: 0 20px;
    }

    .header-main-section2 a {
        padding: 18px 70px;
    } 


}

/* ================= 992px ================= */
@media (max-width:992px) {

    .header-main {
        flex-direction: column;
        text-align: center;
        padding: 20px 15px;
    }

    .header-main-section1 {
        justify-content: center;
        margin-bottom: 15px;
    }

    .header-main-section2 {
        justify-content: center;
        flex-wrap: wrap;
    }

    .header-main-section2 p {
        padding: 0 20px;
    }

    .header-main-section2 a {
        margin-top: 15px;
        padding: 16px 60px;
    }

    /* Footer */

    .footer {
        padding: 50px 0;
    }

    .footer-top,
    .footer-middle,
    .footer-bottom {
        text-align: center;
    }

    .footer-logo {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
    }

    .newsletter {
        margin-top: 25px;
    }

    .newsletter p {
        max-width: 100%;
    }

    .newsletter-form {
        max-width: 100%;
    }

    .address {
        max-width: 100%;
    }

    .support-head {
        margin-top: 35px;
    }

    .footer-end {
        align-items: center;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-title span {
        display: inline;
    } 

}

/* ================= 768px ================= */
@media (max-width:768px) {

    .header-main-text {
        font-size: 14px;
    }

    .header-main-section2 select,
    .header-main-section2 p {
        font-size: 15px;
    }

    .header-main-section2 p {
        padding: 0 15px;
    }

    .header-main-section2 a {
        padding: 15px 45px;
        font-size: 16px;
    } 


    /* Footer */

    .footer {
        padding: 45px 0;
    }

    .footer-logo {
        max-width: 190px;
    }

    .footer-heading {
        font-size: 24px;
    }

    .foot-head {
        font-size: 24px;
    }

    .newsletter p {
        font-size: 16px;
    }

    .newsletter-form input {
        height: 60px;
        padding: 0 18px;
    }

    .newsletter-form button {
        width: 60px;
        height: 60px;
    }

    .footer-title {
        font-size: 30px;
    }

    .support-head+.footer-links li a {
        font-size: 20px;
    }
}

/* ================= 576px ================= */
@media (max-width:576px) {

    .header-main {
        padding: 20px 10px;
    }

    .header-main-section2 {
        flex-direction: column;
    }

    .header-main-section2 select {
        margin-bottom: 15px;
    }

    .header-main-section2 p {
        padding: 0;
        margin-bottom: 15px;
    }

    .header-main-section2 a {
        width: 100%;
        padding: 14px 0;
        font-size: 15px;
    }

    /* Footer */

    .footer {
        padding: 40px 0;
    }

    .footer-logo {
        max-width: 170px;
    }

    .footer-heading {
        font-size: 22px;
    }

    .foot-head {
        font-size: 22px;
    }

    .footer-title {
        font-size: 24px;
    }

    .footer-links li {
        font-size: 16px;
    }

    .support-head+.footer-links li a {
        font-size: 18px;
    }

    .newsletter-form input {
        height: 55px;
        font-size: 15px;
    }

    .newsletter-form button {
        width: 55px;
        height: 55px;
    }

    .copyright {
        font-size: 16px;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-social a {
        margin: 0 10px;
        font-size: 16px;
    }
}

/* ================= 480px ================= */
@media (max-width:480px) {

    .header-main-text {
        font-size: 13px;
    }

    .header-main-section2 select,
    .header-main-section2 p {
        font-size: 14px;
    }

    .header-main-section2 a {
        font-size: 15px;
    } 
    
}

/* ================= 320px ================= */
@media (max-width:320px) {

    .header-main {
        padding: 15px 8px;
    }

    .header-main-text {
        font-size: 12px;
    }

    .header-main-section2 select,
    .header-main-section2 p {
        font-size: 13px;
    }

    .header-main-section2 a {
        font-size: 14px;
        padding: 12px 0;
    }
    /* footer */
    .footer-logo {
        max-width: 150px;
    }

    .footer-title {
        font-size: 22px;
    }

    .newsletter-form input {
        font-size: 14px;
        padding: 0 12px;
    }

    .newsletter-form button {
        width: 50px;
    }
}